body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    /* background-color: #430f58; */
    background-color: #d5def5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 80vh;
    height: 80vh;
    gap: 2vw;
}

.buttons {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    background-color: #8594e4;
    /* background-color: #6643b5; */
    border-radius: 16px;
}

.buttons > button {
    /* border: 1px solid white; */
    color: white;
    background-color: #6643b5;
    border-style: none;
    padding: 12px 28px;
    margin: 12px;
    border-radius: 8px;
    box-sizing: border-box;
}

.buttons > button:hover {
    background-color: #d5def5;
    color: black;
    cursor: pointer;
}

#grid-container {
    display: flex;
    flex: 8;
    box-sizing: border-box;
    flex-direction: column;
    border: 16px solid #6643b5;
    border-radius: 12px;
}

.grid-row {
    display: flex;
    flex: 1;
}

.grid-cell {
    display: flex;
    flex: 1;
}

.grid-cell-hover {
    background-color: #430f58;
}